# SAAD SAUD 19B-055-SE SECTION A

# PRACTISE PROBLEM # 2.1 (A) [SUM OF 5 POSITIVE INTEGERS]

In [1]:
a = int(input("enter the first positive integer "))
b = int(input("enter the second positive integer "))
c = int(input("enter the third positive integer "))
d = int(input("enter the fourth positive integer "))
e = int(input("enter the fifth positive integer "))
sum_integers = (a + b + c + d + e)
print("sum of first five positive integers is ", sum_integers)

enter the first positive integer 1
enter the second positive integer 2
enter the third positive integer 3
enter the fourth positive integer 4
enter the fifth positive integer 5
sum of first five positive integers is  15

# 2.1 (B) [AVERAGE AGE]

In [3]:
sara = int(input("enter the age of sara "))
mark = int(input("enter the age of mark "))
fatima = int(input("enter the age of fatima "))
average_age = (sara + mark + fatima)/3
print("the average age is ", average_age)

enter the age of sara 23
enter the age of mark 19
enter the age of fatima 31
the average age is  24.333333333333332

# 2.1 (C) [number of times 73 goes into 403]

In [4]:
a = int(input("enter the number "))
b = int(input("enter the number "))
no_of_times = (b/a)
print("the no. of times 73 goes into 403 is ", no_of_times)

enter the number 73
enter the number 403
the no. of times 73 goes into 403 is  5.52054794520548

# 2.1 (D) [REMAINDER WHEN 403 DIVIDED BY 73]

In [5]:
a = int(input("enter the number "))
b = int(input("enter the number "))
remainder = (b % a)
print("the remainder is ", remainder)

enter the number 73
enter the number 403
the remainder is  38

# 2.1 (E) [2 TO THE POWER OF 10]

In [6]:
a = int(input("enter the number "))
power_of_10 = (a**10)
print("2 to the 10th power ", power_of_10)

enter the number 2
2 to the 10th power  1024

# 2.1 (F) [ABSOLUTE DIFFERENCE]

In [7]:
sara_height = int(input("enter the height of sara "))
mark_height = int(input("enter the height of mark "))
abs_difference = (sara_height - mark_height)
print("the absolute value of difference is ", abs_difference)

enter the height of sara 54
enter the height of mark 57
the absolute value of difference is  -3

# 2.1 (G) [lowest price]

In [8]:
print("lowest price among the three($34.99,$29.95,$31.50) is: $",min(34.99,29.95,31.50))

lowest price among the three($34.99,$29.95,$31.50) is: $ 29.95

# PRACTISE PROBLEM # 2.2 (A) [BOOLEAN EXPRESSION]

In [10]:
a = 2+2<4
print(a)

False

# 2.2 (B)

In [12]:
b = 7//3==1+1
print(b)

True

# 2.2 (C)

In [13]:
c = 3**2+4**2==25
print(c)

True

# 2.2(D)

In [14]:
d = 2 + 4 + 6 > 12
print(d)

False

# 2.2(E)

In [18]:
num_1 = 1387
num_2 = 19
ans = (num_1/num_2)
if num_1/num_2:
    print("true")

true

# 2.2(F)

In [20]:
num = 31
even_num = (31%2)
if even_num == 2:
    print("even")
else:
    print("false")

false

# PRACTISE PROBLEM # 2.3 (A) [ASSIGN VALUE]

In [22]:
a = int(input("the value of a is "))

the value of a is 3

# 2.3 (B)

In [23]:
b = int(input("the value of b is "))

the value of b is 4

# 2.3 (C)

In [26]:
a = 3
b = 4
c = a * a + b * b
print("the value of c is ", c)

the value of c is  25

# PRACTISE PROBLEM # 2.4 [OPERATORS]

In [32]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
x = (s1 + s2 + s3)
print(x)

antbatcod

# 2.4 (B)

In [33]:
s1 = 'ant'
y = (s1 * 10)
print(y)

antantantantantantantantantant

# 2.4 (C)

In [34]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
x = (s2 * 2)
print(x)
y = (s3 *3)
print(y)

ant
batbat
codcodcod

# 2.4 (E)

In [36]:
s2 = 'bat'
s3 = 'cod'
sum = (s2 + s2 + s3)*5
print(sum)

batbatcodbatbatcodbatbatcodbatbatcodbatbatcod

# PRACTISE EXERCISE # 2.5

In [37]:
s = '0123456789'
# a
print(s[0])
# b
print(s[1])
# c
print(s[6])
# d
print(s[8])
# e
print(s[9])

0
1
6
8
9

# PRACTISE EXERCISE # 2.6

In [38]:
words = ['bar','ball','barn','basket','badminton']
print(words[0])
print(words[-1])
print(words[0:])

bar
badminton
['bar', 'ball', 'barn', 'basket', 'badminton']

# PRACTISE EXERCISE # 2.7

In [40]:
grades = [9,7,7,10,3,9,6,6,2]
# a
a = grades.count(7)
print(a)
print("\n\t")

# b
a = grades[-1]=4
print(a)
print("\n\t")

#c
a = max(grades)
print(a)
print("\n\t")

# d
a = grades.sort()
print(a)
print("\n\t")

# e
import statistics
print(statistics.mean(grades))

2


4


10


None


6.777777777777778

# PRACTISE EXERCISE 2.8

In [45]:
print('a)','((2+3) ==4)or (a >=5)')
print('b)','(((lst[1])*(-3)) <(-10)) ==0')
print('c)',"(((lst[1])*(-3)) <(-10)) in [0,true]")
print('d)','2 * (3**2)')
print('e)','(4/2) in [1,2,3]')

a) ((2+3) ==4)or (a >=5)
b) (((lst[1])*(-3)) <(-10)) ==0
c) (((lst[1])*(-3)) <(-10)) in [0,true]
d) 2 * (3**2)
e) (4/2) in [1,2,3]

# PRACTISE EXERCISE 2.9

In [42]:
# a
a = False +False
print(type(a))
# b
b = 2*3**2.0
print(type(b))
# c
c = 4//2+4%2
print(type(c))
# d
d = 2 + 3 == 4 or 5>=5
print(type(d))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

# PRACTISE EXERCISE 2.10

In [43]:
# a
a = 2
b = 2
c = a**2 +b**2
print(c)
# b
if c == 5:
    print('true')
else:
    print('false')
# c
from math import pi
r = 3
area = pi * r ** 2
print(str(area)+'m^2')
# d
r = 10
x = 2
y = 1
a = x + y == r
b = x ** 2 + y ** 2==r **2
print(a)
print(b)

8
false
28.274333882308138m^2
False
False

# PRACTISE PROBLEM 2.11

In [44]:
lst = [-7-6-5-4-3-2-1]
print(lst)
average_age = 9*17+24*10+21*11+27*12
x = average_1 = average_age/17+24+21+27
print(average_1)
a = 2**-20
print(a)
b = 4356//61
print(b)
c = 4365%61
print(c)

[-28]
127.76470588235294
9.5367431640625e-07
71
34

# EXERCISE 2.12

In [49]:
# a
integers = [1,2,3,4,5,6,7]
sum_integers = (1+2+3+4+5,6,7)
print(sum_integers)
# b
sara = 65
mark = 57
fatima = 45
average = (sara+mark+fatima)/3
print(average)
# c
num = 2
power = num**20
print(power)
# d
a = 61
b = 4356
no_of_times = b/a
print(no_of_times)
# e
a = 61
b = 4356
remainder = b%a
print(remainder)

(15, 6, 7)
55.666666666666664
1048576
71.40983606557377
25

# EXERCISE 2.13

In [54]:
s1 = '-'
s2 = '+'
# a
sum = s1+s2
print(sum)
# b
sum = s1+s2
print(sum)
# c
sum = s2+s1+s1
print(sum)
# d
sum = (s2+s1+s1)*2
print(sum)
# e
sum = ((s2+s1+s1)*10)+s2
print(sum)
# f
sum = (s2+s1+s2*3+s1*2)*5
print(sum)

-+
-+
+--
+--+--
+--+--+--+--+--+--+--+--+--+--+
+-+++--+-+++--+-+++--+-+++--+-+++--

# EXERCISE 2.14

In [56]:
s = 'abcdefghijklmnopqrstuvwxyz'
# a
print(s[0])
# b
print(s[2])
# c
print(s[25])
# d
print(s[24])
# e
print(s[16])

a
c
z
y
q

# EXERCISE 2.15

NameError: name 'g' is not defined

# EXERCISE 2.16

In [64]:
# A
a = 6
b = 7
print(a)
print(b)
# B
a = 6
b = 7
c = (a+b)/2
print(c)
# C
inventory = ('paper','staples','pencils')
print(inventory)
# D
first = 'john'
middle = 'fitzgerald'
last = 'kennedy'
print(first)
print(middle)
print(last)
# E
fullname = (first + middle + last)
print(first, middle, last)

6
7
6.5
('paper', 'staples', 'pencils')
john
fitzgerald
kennedy
john fitzgerald kennedy

# EXERCISE 2.17

In [76]:
# a
a = 17
b = -9
sum = a+b
if sum < 10:
    print("true")
else:
    print('false')
# b
inventory = ('paper','staples','pencils')
fullname = ('john fitzgerald kennedy')
x = len(inventory)
y = len(fullname)
if x > y:
    print("true")
else:
    print("false")
# c
c = 6.5
if c <= 24:
    print("true")
else:
    print("false")
# d
a = 6
b = 7
d = 6.75
if d>=a and d<=7:
    print("true")
# e
middle = 'fitzgerald'
first = 'john'
last = 'kennedy'
x = len(middle)
y = len(first)
z = len(last)
x>y and x<z

true
false
true
true

False

# EXERCISE 2.18

In [81]:
# a
flowers = ['rose','bougainvillia','yucca','marigold','daylilly','lilly of the valley']
print(flowers)
# b
'potato' in [flowers]
# c
thorny = [flowers[0],flowers[1],flowers[2]]
print(thorny)
# d
poisonous = [flowers[-1]]
print(poisonous)
# e
dangerous=[thorny]+[poisonous]
print(dangerous)

['rose', 'bougainvillia', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']
['rose', 'bougainvillia', 'yucca']
['lilly of the valley']
[['rose', 'bougainvillia', 'yucca'], ['lilly of the valley']]

# EXERCISE 2.19

In [82]:
import math
r = 10
X = 0
Y = 0
a=math.sqrt((0-0)**2+(0-0)**2)
b=math.sqrt((10-0)**2+(10-0)**2)
c=math.sqrt((6-0)**2+(6-0)**2)
d=math.sqrt((8-0)**2+(7-0)**2)
print(a<r)
print(b<r)
print(c<r)
print(d<r)

True
False
True
False