# SAAD SAUD CHAP 03

# PRACTISE 01

In [58]:
deg_far = eval(input("enter temperature in degree farenheit: "))
celcius = (deg_far - 32) * 5/9
print("the temperature in degree celcius is", celcius)

enter temperature in degree farenheit: 34
the temperature in degree celcius is 1.1111111111111112

# PRACTISE 02

In [4]:
# a
age = eval(input("enter you age: "))

if age>62:
    print("you can get your pension")

# b
players = ['musial','aaron','williams','gehrig','ruth']
if 'aaron'in players:
    print("one of the top 5 baseball players ever!")
    
# c
hits = eval(input("enter the number of hits "))
sheilds = eval(input("enter the number of sheilds "))
if hits>10 and sheilds == 0:
    print("you are dead")
    
# d
north = [1]
south = []
east = [1]
west = []
if (north or south or east or west):
    print("i can escape")

enter you age: 63
you can get your pension
one of the top 5 baseball players ever!
enter the number of hits 11
enter the number of sheilds 0
you are dead
i can escape

# PRACTISE 03

In [10]:
# a
year = 2019
if year % 4 == 0:
    print('Could be a leap year')
else:
    print('Definitely not a leap year')
# b
ticket = 'saad'
lottery = 'saud'
if ticket == lottery:
    print('You won!')
else:
    print('Better luck next time...')

Definitely not a leap year
Better luck next time...

# PRACTISE 04

In [11]:
users = ['joe', 'sue', 'hani', 'sophie']
id = input('Login: ')
if id in users:
    print('You are in!')
else:
    print('User unknown.')
print('Done.')

Login: sue
You are in!
Done.

# PROGRAM 05

In [14]:
wordList = eval(input('Enter word list: '))
for word in wordList:
    if len(word) == 4:
        print(word)

Enter word list: ['stop', 'desktop', 'top', 'post']
stop
post

# PRACTISE 06

In [15]:
print("Integer from 0 to 9")
for i in range(10):
    print(i)
print("Integer from 0 to 1")  
for i in range(2):
    print(i)

Integer from 0 to 9
0
1
2
3
4
5
6
7
8
9
Integer from 0 to 1
0
1

# PRACTISE 07

In [16]:
# A
print("Integer from 3 up to and including 12: ")
for i in range(3, 13):
    print(i)

Integer from 3 up to and including 12:
3
4
5
6
7
8
9
10
11
12

In [17]:
# B
print("Integer from 0 up to but not including 9, but with a step of 2 instead of the default 1")

for i in range(0, 10, 2):
    print(i)

Integer from 0 up to but not including 9, but with a step of 2 instead of the default 1
0
2
4
6
8

In [18]:
# C
print("Integer from 0 up to but not including 24 with a step of 3:")

for i in range(0, 24, 3):
    print(i)

Integer from 0 up to but not including 24 with a step of 3:
0
3
6
9
12
15
18
21

In [19]:
# D
print("Integer from 3 up to but not including 12 with a step of 5:")

for i in range(3, 12, 5):
    print(i)

Integer from 3 up to but not including 12 with a step of 5:
3
8

# PRACTISE 08

In [20]:
from math import pi
radius = 5
def perimeter():
    a = 2*pi*radius
    return a
    print("the perimeter is ", a)
perimeter()

31.41592653589793

# PRACTISE 09

In [21]:
n1 = int(input("enter number 1:"))
n2 = int(input("enter number 2: "))
def average():
    a = (n1+n2)/2
    return a 
    print("the average is ", a)
average()

enter number 1:1
enter number 2: 2

1.5

# PRACTISE 10

In [22]:
def noVowel(s):
    'return True if string s contains no vowel, False otherwise'
    for c in s:
        if c in 'aeiouAEIOU':
            return False
        return True
    
print(noVowel('octopus'))

False

# PRACTISE 11

In [23]:

def allEven(numList):
    'return True if all integers in numList are even, False otherwise'
    for num in numList:
        if num % 2 != 0:
            return False
    return True

numList = [2,4,6,8,4]
anotherList = [1,2,5,6,8]

print(str(numList) + "contains even number: "+ str(allEven(numList)))
print(str(anotherList) + "contains even number: "+ str(allEven(anotherList)))

[2, 4, 6, 8, 4]contains even number: True
[1, 2, 5, 6, 8]contains even number: False

# PRACTISE 12

In [24]:

def negatives(lst):
    'prints the negative numbers in list lst'
    for i in lst:
        if i < 0:
            print(i)
            
negatives([2,-1,3,-5,2,2])

-1
-5

# PRACTISE 13

In [25]:
# 3.13

help(average)
help(negatives)

Help on function average in module __main__:

average()

Help on function negatives in module __main__:

negatives(lst)
    prints the negative numbers in list lst

# PRACTISE 15

In [27]:
team = ['Saad','Ali','Sohaib','Yasir']

team[0], team[-1] = team[-1], team[0]

print(team)

['Yasir', 'Ali', 'Sohaib', 'Saad']

# PRACTISE 16

In [28]:
ingredients =['flour','sugar','butter','apples']

def swapFL(lst):
    lst[0], lst[-1] = lst[-1], lst[0]
    
swapFL(ingredients)
print(ingredients)

['apples', 'sugar', 'butter', 'flour']

# EXERCISE 3.18

In [56]:
a=3
b=4
c=5
if a<b:
    print("OK")
if c<b:
    print("OK")
else:
    print("C is not less than b")
if a+b==c:
    print("OK")
else:
    print("the sum of a and b is not equal to c")
if a**2+b**2==c**2:
    print("OK")
else:
    print("NOT OK")

OK
C is not less than b
the sum of a and b is not equal to c
OK

# EXERCISE 3.20

In [21]:
lst = ['january','february','march']

for january in lst:
    print(january[0:3])

jan
feb
mar

# EXERCISE 3.21

In [12]:
lst = [2, 3, 4, 5, 6, 7, 8, 9] 
  
for num in lst: 
    if num % 2 == 0:
        print(num, end = " ")

2 4 6 8

# EXERCISE 3.22

In [14]:
lst = [2, 3, 4, 5, 6, 7, 8, 9]

for num in lst:
    if (num * num) % 8 == 0:
        print(num)

4
8

# EXERCISE 3.23

In [33]:
# a
for i in range(2):
    print(i, end = " ")

0 1

In [19]:
# b
for i in range(1):
    print(i, end = " ")

0

In [26]:
# c
for i in range(3,7):
    print(i, end = " ")

3 4 5 6

In [30]:
# d
for i in range(1,2):
    print(i, end = " ")

1

In [34]:
# e
for i in range(0,4,3):
    print(i, end = " ")

0 3

In [36]:
# f
for i in range(5,22,4):
    print(i, end = " ")

5 9 13 17 21

# EXERCISE 3.24

In [34]:
words = eval(input(" enter the list of words: "))
for word in words:
    if word!='secret':
        print(word)

 enter the list of words:  ['cia','secret','mi6','isi','secret']
cia
mi6
isi

# EXERCISE 3.25

In [28]:
names = eval(input("enter list: "))
names_1 = names[0]
names_2 = names[-1]
print(names_1)
print(names_2)

enter list: ['Ellie', 'Steve', 'Sam', 'Owen', 'Gavin']
Ellie
Gavin

# EXERCISE 3.26

In [29]:
numbers = eval(input("enter a list"))
num_1 = numbers[0]
num_2 = numbers[3]
print("The first list element is", num_1)
print("The last list element is", num_2)

enter a list [3, 5, 7, 9]
The first list element is 3
The last list element is 9

# EXERCISE 3.27

In [31]:
n = int(input("Enter n:"))
for i in range(4):
    print(n*(i+1))

Enter n:5
5
10
15
20

# EXERCISE 3.28

In [41]:
integer = eval(input("enter n: "))
for i in range(0,n):
    if i!=n:
        s = i**2
        print(s)

enter n: 4
0
1
4
9
16
25

# EXERCISE 3.30

In [42]:
num_1 = eval(input("enter the first number: "))
num_2 = eval(input("enter the second number: "))
num_3 = eval(input("enter the third number: "))
num_4 = eval(input("enter the fourth number: "))

if (num_1 + num_2 + num_3)/4 == num_4:
    print("equal")

enter the first number: 4.5
enter the second number: 3
enter the third number: 4.5
enter the fourth number: 3
equal

# EXERCISE 3.31

In [46]:
radius = 8
a = 0
b = 0
x = eval(input("enter the x-cordinate: "))
y = eval(input("enter the y-cordinate: "))
point = (x-a)**2+(y-b)**2
if point<radius:
    print("it is in")
else:
    print("it is not in")

enter the x-cordinate: 2.5
enter the y-cordinate: 4
it is not in

# EXERCISE 3.32

In [50]:
number = input("enter n: ")
number.split()
for i in number:
    print(i)

enter n: 1234
1
2
3
4

# EXERCISE 3.33

In [53]:
def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str
  
s = "abc"
  
print ("reversed_string : ",end="") 
print (s) 
print (reverse(s))

reversed_string : abc
cba

# EXERCISE 3.34

In [35]:

def pay(hours):
    if hours<40:
        a=(hours/1.5)*500
        print("You have worked less than 40 hours")
        return a
    else :
        a=hours*500
        print("you have worked hard")
        return a
    
h=int(input("how many hours you have worked"))
pay(h)

how many hours you have worked2
You have worked less than 40 hours

666.6666666666666

# EXERCISE 3.35

In [36]:
def prob(n):
    res=2**-n
    return res
n=int(input("Enter value of n"))
prob(n)

Enter value of n6

0.015625

# EXERCISE 3.36

In [37]:
def rev(a):
    res=a[::-1]
    return res
a=str(input("Enter enter string"))
rev(a)

Enter enter string1,2,3

'3,2,1'

# EXERCISE 3.37

In [40]:
def points(x1,y1,x2,y2):
    res=(y2-y1)/(x2-x1)
    if res==0:
        print("Line is vertical")
    else:
        return res
points(1,1,0,1)
from math import sqrt
def distance(x1,y1,x2,y2):
    a=(x2-x1)*(y2-y1)
    b=sqrt(a)
    print("distance is", b)
distance(1,2,4,5)

Line is vertical
distance is 3.0

# EXERCISE 3.41

In [55]:
a=input("Enter your name: ")
b=a[::-1]
print(b)

Enter your name: saad saud
duas daas

# EXERCISE 3.44

In [3]:
def main():
    time = eval(input("What is the time (in seconds) elapsed between the flash and thunder? "))
    sound = 1100*time
    ans = sound/5280
    print("The distance to a lightening strike is ", ans , "miles")
main()

What is the time (in seconds) elapsed between the flash and thunder? 5
The distance to a lightening strike is  1.0416666666666667 miles